body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color:inherit;
  text-decoration: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Carousel {
  margin: 30px -10px;
}

.slick-slide {
  padding: 0 10px;
}

.login {
  z-index: 1;
}
.login:before {
  background: url("https://wallpaperaccess.com/full/7445.jpg") 
  no-repeat;   
  position: fixed;       
  min-width: 100%;   
  min-height: 100%; 
  background-size: cover;
  opacity: 0.3;
  content: "";
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}