*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Carousel {
  margin: 30px -10px;
}

.slick-slide {
  padding: 0 10px;
}

fieldset:hover {
  border-color: #1c1327;
}

.CarouselArrow {
  display: flex;
  background-color: #1c1327;
  top: calc(50% - 20px);
  color: #c48515;
  transition: opacity 0.3s ease-in-out;
  opacity: .7;
  position: absolute;
  z-index: 1;
}

.CarouselArrow:hover {
  color: #1c1327;
  background-color: #c48515;
  opacity: 1;
}

.MuiPagination-ul {
  justify-content: center;
  margin: 20px 0 60px 0;
}

.MuiPagination-ul button {
  color: #e7e7e7;
}

.login {
  z-index: 1;
}
.login:before {
  background: url("https://wallpaperaccess.com/full/7445.jpg") 
  no-repeat;   
  position: fixed;       
  min-width: 100%;   
  min-height: 100%; 
  background-size: cover;
  opacity: 0.3;
  content: "";
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}